@import "tailwindcss";
@import "./styles/common.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lavender-light: #F3E5F5;
  --lavender-medium: #D1C4E9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
